<html>
<body>
    <%# <li><a href="/login">Login</a></li><br>
    <li><a href="/signup">signup</a></li><br> %>
    <br>
    <link rel="stylesheet" type="text/css" href="/style.css"/>

    <div name="home" style="./style.css">
    <h2 name="login"><a href="/auth">Login</a></h2><br>
    <h2 name=" signup"><a href="/signup">Signup</a></h2> 

<%# <%= erb :auth %>
    

</body>
</html>